* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-size: contain;
    background-color: rgba(26, 101, 167, 0.308);
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #222;
}

/*         NAV               */

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilos de la navegación */
nav {
    background-color: #333;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    padding: 10px;
}

/* Estilos de la sección de hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-size: cover;
    text-align: center;
}
.hero img{
    width: 60px;
    margin: 10px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 15px;
    margin: 15px;
}

/*        proyectos clases            */


.proyectos h2{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 20px;
    border: solid 2px white;
    padding: 10px;
}
.proyectos h3{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 20px;
    border: solid 2px rgba(255, 255, 255, 0.863);
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
}
.proyecto-1 h3{
    background: rgb(6, 49, 49);
}
.proyecto-2 h3{
    background: rgba(14, 7, 7, 0.712);
}
.proyecto-3 h3{
    background: rgba(82, 12, 3, 0.87);
}
.proyectos p{
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
.proyectos img{
    width: 100%;
    height: 300px;
}
.proyectos img:hover{
    background-color: #222;
}

.sobre-mi p{
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
.sobre-mi h2{
    margin: 20px 10px 20px 175px;
}
.footer {
    margin: 10px 5px 0px 80px;
    padding: 10px;
    font-size: 12px;
}
.button-contact{
    width: 90%;
    margin: 25px 0px 0px 10px ;
    background-color: #3d37378e;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 5px;
    border: solid 1px ;
}
